body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.headerr{
  margin: 0;
}
.navbar .logo img {
  height: 200px;
  width: 250px;
}

.search-container {
  display: flex;
  width: 80%;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.search-item {
  margin: 0 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-item span {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.search-item input {
  width: 120px;
  padding: 5px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.search-button {
  background-color: #ff5a5f;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
