.profile-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    width: 300px;
}
.profile-card img {
    border-radius: 50%;
}
.verified-info {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}
.report-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .flag-icon {
    color: gray;
    margin-right: 15px;
    margin-top: 6px;
  }
  
  .property-section .property-card {
    text-align: center;
  }
  
.review-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}
.property-card, .guide-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}
.property-card img, .guide-card img {
    border-radius: 8px;
}
